@import "partials/_variables";
@import "partials/_setup";
@import "partials/_typography";

body {
	overflow-x: hidden;
}

.hideElement {
	display: none;
	visibility: hidden;
}

.showElement {
	visibility: visible;
}

.showInfo {
	display: inline;
}

.chartMain {
	margin: auto;
	width: 600px;
}





// Login Form

.loginForm {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: #00BCD4;
	background-image: url(../../assets/arrows_loginPage_background.png);
	background-repeat: no-repeat;
	background-position: bottom left;

}

.loginForm__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 100px;
	width: 450px;
	height: 500px;
	padding: 30px;
	background: #004247;
	text-align: center;
	h1 {
		padding-bottom: 30px;
		color: white;
		text-transform: uppercase;
		font-weight: 300;
	}
	h3 {
		padding-bottom: 20px;
		color: white;
		font-family: 'Source Sans Pro', sans-serif;
	}
}

.loginForm__main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.loginForm__main input {
	width: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	margin-top: 20px;
	padding: 10px;
	border: none;
}

.loginForm__main button {
	margin-top: 20px;
	background: none;
	border: 1px solid white;
	font-size: 20px;
	color: white;
	padding: 8px 40px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}


// Left Side Nav Bar
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 250px;
	height: 100%;
	z-index: 1;
	background: #2D3037;
}

.navbar__header {
	background: #22242b;
	text-align: center;
	padding: 20px 0;
	h2 {
		color: white;
	}
	img {
		width: 100%;
		padding: 15px 60px;
	}
}

.navbar__profile {
	margin-top: 30px;
	text-align: center;
	color: white;
	padding: 0 20px;
}

.navbar__timeFrame {
	margin-top: 30px;
	text-align: center;
	color: white;
	padding: 0 20px;
}

.navbar__timeFrame--date {
	padding: 10px;
	color: white;
	background: #22242B;
	font-size: 14px;
	margin-top: 10px;
	font-weight: 300;
}

.navbar__footer {
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 20px 0;
	background: #22242b;
	p {
		color: white;
		padding-bottom: 20px;
	}
	input {
		background: white;
		border: none;
		font-size: 14px;
		color: #22242b;
		padding: 4px 20px;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		text-transform: uppercase;
		text-decoration: none;
	}

}

// Main Area in Dashboard

.mainContent {
	padding: 10px 30px;
	margin-left: 250px;
	h3 {
		text-align: center;
		font-weight: 500;
		padding-top: 25px;
		font-size: 22px;
		text-transform: uppercase;
	}
}

.otherData {
	display: flex;
	margin-left: 250px;
	background: #00a7ba;
	padding: 30px 20px;
	color: white;
	h3 {
		text-align: center;
		font-weight: 500;
		padding-bottom: 10px;
		font-size: 22px;
		text-transform: uppercase;
	}
}

.otherData ul {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

.otherData__advertising, .otherData__website {
	width: 50%;
	padding: 20px;
}

.otherData__advertising li, .otherData__website li  {
	position: relative;
	width: calc(50% - 20px);
	padding: 5px;
	background: #0090a0;
	margin: 5px;
	h4 {
		font-size: 14px;
		color: #dfdfdf;
		font-weight: 500;
	}
	span {
		font-weight: 500;
		font-size: 22px;
	}
	.fa {
		position: absolute;
		top: 5px;
		right: 5px;
		color: #004247;
	}
	i {
		position: relative;
	}
	.otherData__showInfo {
		position: absolute;
		z-index: 5;
		display: none;
		width: 200px;
		color: white;
		padding: 10px 5px;
		right: -2px;
		background: rgba(0, 0, 0, 0.85);
		font-size: 12px;
	}
}

.otherData__line {
	border-left: 1px solid #004247;
	height: 300px;
}

.displayCharts {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

.displayCharts li {
	width: calc(50% - 20px);
	margin: 30px 10px;
	p {
		text-align: center;
		background: #f4f4f4;
		padding: 15px 10px;
	}
}